body {
	background-color: #bbb;
	color: #000;
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

/* reset box-sizing */
*, *:before, *:after {
	box-sizing: border-box;
}

.biale {
	width: 50px;
	height: 50px;
}

.niebieskie {
	height: 50px;
	width: 50px;
}

.chessboard-container {
	display: block;
	width: 100%;
}
.chessboard {
	display: flex;
	/* margin-top: 2em; */
	margin-left: auto;
	margin-right: auto;
	background: blue;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	border: 45px #444 solid;
	text-align: center;
	border-image: url(tlo2.jpg)  100% 0% 0% 0%;
	border-image-width: 100% 0% 0% 0%;
	/* border-image-width: 100%; */
	/* border-image: url(tlo.jpg) 100 round; 
	border-left-width: 150px;
	border-right-width: 150px;
	border-top-width: 15px;
	border-bottom-width: 15px; */

	/* DK: We make sure that content is 400x400 and dont care about border & etc. */
	box-sizing: content-box;
	/*transform: scale(1, -1);*/
}
#chessboard-automated {
	/*width: 200px;*/
	/*background: red;*/
}
.field {
	width: 75px;
	height: 75px;
	border: 1px #666 solid;
	background: linear-gradient(135deg, #2664e0 0%,#5094ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	color: #444;
	/*transform: rotateX(180deg);*/
}

.chessline:nth-child(even) .field:nth-child(even),
.chessline:nth-child(odd) .field:nth-child(odd)
{
	background: linear-gradient(135deg, #f0f9ff 0%,#ffffff 100%);
}

.text-wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#wrapper{
		background-image: url(tlo.jpg);
		background-size: cover;
}